<%= form_for @draw_item, html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.label :fullname, "Full name", class: "control-label" %>
    <%= f.text_field :fullname, required: true, autocomplete: :off,
          class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :shortname, "Short name", class: "control-label" %>
    <%= f.text_field :shortname, required: true, autocomplete: :off,
          class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :draw_list_id, "Drarw list id", class: "control-label" %>
    <%= f.text_field :draw_list_id, required: true, autocomplete: :off,
          class: "form-control" %>
  </div>
  <%= f.button :submit, class: "btn btn-primary" do %>
    <i class="fa fa-save"></i> <%= t("action.save") %>
  <% end %>
<% end %>
